<div class="page-header">
  <h1>
    Evaluations
    <a href="/evaluations/new" class="btn btn-lg btn-success">New Evaluation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Assessment</th>
        <th>Waitime</th>
      </tr>

      <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.user.first_name %></td>
          <td><%= evaluation.user.last_name %></td>
          <td><a href="/evaluations/<%=evaluation.id %>">See answers</a></td>
          <td><%= time_ago_in_words(evaluation.created_at) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
