<div class="page-header">
  <h2>
    Triage
  </h2>

  <small> Print evaluation before deleting </small>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>User</th>
        <th>Answers</th>
        <th>Triage</th>
        <th>Waitime</th>
        <th>Appointment Scheduled</th>
      </tr>

      <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.user.email %></td>
        <td><a href="/evaluations/<%=evaluation.id %>">See answers</a></td>


          <% if evaluation.thoughts_suicide_harm && evaluation.violent_behaviour && evaluation.attempted_suicide %>
          <td class="danger">Definite of Danger to Self</td>
          <% elsif evaluation.attempted_suicide %>
          <td class="warning">Risk of Danger to Self</td>
          <% elsif evaluation.thoughts_suicide_harm %>
          <td class="active">Possible Danger to Self</td>
          <% else %>
          <td class="success">Moderate Distress</td>
          <%end%>


            <td>
              <%= time_ago_in_words( evaluation.created_at) %>
            </td>

            <td>
              <a class="btn btn-default" role="button" href="/delete_evaluation/<%=evaluation.id %>">Delete</a>
            </td>

          </tr>


          <% end %>

        </table>
      </div>
    </div>
